* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    scroll-behavior: smooth;
    --background: 	#4d8d96;
    --raised: rgb(0, 0, 50)
}


body{
    background: var(--background);
    /* z-index: -1; */
}

h1, h2, h3, h4, p{
    color: white;
    text-align: center;
    font-weight: bold;
}