.content-section{
    position: absolute;
    width: 100%;
}

/* Dropdown Nav Menu */

/* SUBSECTION - Pretty stuff on the links */
.rectangle{
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 100%;
}

.path{
    height: 50%;
    width: 100%;
    stroke: transparent;
}

a:hover + .rectangle .path{
    stroke: #fff;
    animation: dash 5s linear;
    animation: fill 5s linear;
}

  @keyframes dash {
    to {
      stroke-dashoffset: 1000;
    }
  }

  @keyframes fill {
    from{
        stroke-dasharray: 100;
    }
    to {
        stroke-dasharray: 10000;
    }
  }
  
.highlighter{
    width: 0;
    height: calc(100% - 4px);
}

a:hover + .rectangle + .highlighter{
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    transition: width 1s ease-in-out;
    width: calc(100% - 8px);
    height: calc(100% - 4px);
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 0px;
    margin: 4px 4px 0 4px;
}

/* SUBSECTION - DONE */

nav{
    z-index: 2;
    top: -275vh;
    height: calc(100vh - 3rem);
    position: fixed;
    width: 100%;
    transition: top 1s ease-in-out;
}

nav ul{
    background-color: rgba(71, 26, 138, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top: 3rem;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li{
    width:  100%;
    text-align: center;
    position: relative;
    
}


nav ul li a{
    z-index: 2;
    position: relative;
    font-size: 3rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 100%;
    display: block;
}

/* Name and pancake button */
#top-bar{
    display: flex;
    justify-content: space-between;
    font-size: larger;
    padding: 20px;
    list-style: none;
    font-weight: bold;
    position: absolute;
    background: transparent;
    color: white;
    right: 0;
    left: 0;
    z-index: 2;
}

#top-bar div{
    position: fixed;
    right: 20px;
}

#pancake-button:hover{
    cursor: pointer;
}

#pancake-menu-button{
    width: 30px;
    padding-right: 5px;
}

#pancake-menu-button:hover{
    cursor: pointer;
}

.css-menu-bar {
    display: block;
    height: 8px;
    width: 100%;
    margin: 2px 0px 0px 0px;
    background: #fff;
    border-radius: 60px;
    position: relative;
    transition: top 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/* Hero Image */

.bg-img{
    z-index: -2;
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.bg-img-gradient{
    z-index: -1;
    position: absolute;
    top: 50vh;
    object-fit: cover;
    width: 100%;
    height: 50vh;
    background-image:  linear-gradient(transparent, var(--background));
}


/* Projects button */
#entry-div{
    /* background:rgba(0, 0, 0, 0.4); */
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.hero-button{
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    text-decoration: none;
    text-align: center;
    width: 20%;
    min-width: 200px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 20px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    transition: top 1s ease-in-out;
    top: 50vh;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.hero-button:hover{
    padding: 25px;
    width: 21%;
    font-size: 1.5rem;
}

/* Projects Section */
.partner-link{
    color: #fff;
}

#projects-section{
    width: 100%;
}

h1{
    margin-top: 2rem;
}

h3{
    margin-top: 40px;
}

.project-description p{
    margin-top: 20px;
}

.project-description ul{
    margin-top: 10px;
    gap: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
}

.project-description ul li{
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.project-info-container{
    position: relative;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 75%;
    margin-bottom: 500px;

    display: grid;
    grid-template-columns: 20px auto auto 20px;
    gap: 20px;
}

.project-container{
    position: relative;
    width: 100%;
}

.project-container .bg-img{
    position: absolute;
    top: calc(100% + 50px);
    height: 400px;
    width: 100%;
}

.project-container .bg-image-gradients{
    position: absolute;
    top: calc(100% + 50px);
    width: 100%;
    height: 400px;
}

.project-container .bg-image-gradients div:nth-of-type(1){
    position: absolute;
    background-image: linear-gradient(var(--background), transparent);
    height: 200px;
    top: 0;
}

.project-container .bg-image-gradients div:nth-of-type(2){
    position: absolute;
    background-image: linear-gradient(transparent, var(--background));
    height: 200px;
    top: 50%;
}


.project-link{
    grid-column: span 4;
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
}

.project-link a{
    color: white;
    text-decoration: none;
    transition: color 750ms ease-in-out;
    font-weight: bold;
    
    padding: 40px;
}

.project-description{
    grid-area: 2 / 2 / span 1 / span 1;
}

.title-div{
    width: 100%;
    grid-area: 1 / 1 / span 1 / span 4;
}

h2{
    border-radius: 10px 10px 0 0;
    background: rgba(255, 255, 255, 0.05);
    width: calc(100%-20px);
    padding: 20px;
}

.project-image{
    margin-top: 20px;
    height: 100%;
    width: 100%;
    /* max-width: 750px; */
    object-fit: contain;
    border-radius: 20px;
    grid-area: 2 / 3 / span 1 / span 1;
}

.project-container:nth-of-type(2n) .project-image{
    grid-area: 2 / 2 / span 1 / span 1;
}

.project-container:nth-of-type(2n) .project-description{
    grid-area: 2 / 3 / span 1 / span 1;
}

/* About me section */
#headshot{
    border-radius: 100%;
    border: 4px solid black;
    margin: auto;
    display: block;
    margin-top: 50px;
}

#external-links{
    margin: 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#external-links a{
    height: 100px;
    transition: height 100ms ease-in-out;
}

#external-links a:hover{
    height: 150px;
}

#external-links a img{
    height: 100%;
}

#github-logo{
    margin-right: 45px;
}

#about-me-rant{
    margin: auto;
    width: 75%;
}

.hobby{
    margin: 50px 0;
}

.hobby-image{
    border-radius: 20px;
    max-width: 400px;
    display: block;
    margin: 50px auto;
}

#instruments-parent{
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 15rem;
    flex-wrap: wrap;
}

.instrument-span{
    position: relative;
    transition: all 250ms ease-in-out;
}

.music-note{
    position: absolute;
}

.instrument-span:hover{
    cursor: pointer;
    font-size: 12rem;
    user-select: none;
}

@media screen and (max-width: 1000px) {

    /* Project descriptions and images should be stacked on top of eachother */
    .project-description{
        grid-area: 2 / 2 / span 1 / span 2;
    }

    .project-image{
        grid-area: 3 / 2 / span 1 / span 2;
    }
    
    /* Every second project has the image above the description */
    .project-container:nth-of-type(2n) .project-description{
        grid-area: 3 / 2 / span 1 / span 2;
    }

    .project-container:nth-of-type(2n) .project-image{
        grid-area: 2 / 2 / span 1 / span 2;
    }

    #instruments-parent span:nth-of-type(2), #instruments-parent span:nth-of-type(3){
        font-size: 0;
    }

    #instruments-parent{
        gap: 10px;
    }
  }

/* Skills Section */
#skills-list{
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.skill-card{
    position: relative;
    width: 75%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    padding: 20px;
}

.skill-card img{
    top: 30px;
    position: absolute;
    width: 50%;
    object-fit: contain;
    margin: auto;
    border-radius: 20px;
    transition: all 300ms ease-in-out;
}

.skill-card:hover img{
    width: 60%;
}

#java-icon{
    width: 80%;
}

.skill-card:hover #java-icon{
    width: 90%;
}

.skill-card p{
    font-size: 1rem;
    margin-top: 200px;
}

@media screen and (max-width: 800px) {

    #skills-list{
        grid-template-columns: auto auto auto;
    }
    .skill-card:nth-of-type(2n){
        margin: 40px auto;
    }

}

@media screen and (max-width: 700px) {
    #external-links{
        flex-direction: column;
        align-items: center;
    }

    #github-logo{
        margin-right: 0;
    }

}

@media screen and (max-width: 600px) {
    #instruments-parent span:nth-of-type(1){
        font-size: 0;
    }

    #skills-list{
        grid-template-columns: auto;
    }
    .skill-card:nth-of-type(2n){
        margin: auto
    }
    .skill-card{
        margin: auto
    }
}
