/* Dropdown Nav Menu */

/* SUBSECTION - Pretty stuff on the links */
.rectangle{
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 100%;
}

.path{
    height: 50%;
    width: 100%;
    stroke: transparent;
}

a:hover + .rectangle .path{
    stroke: #fff;
    animation: dash 5s linear;
    animation: fill 5s linear;
}

  @keyframes dash {
    to {
      stroke-dashoffset: 1000;
    }
  }

  @keyframes fill {
    from{
        stroke-dasharray: 100;
    }
    to {
        stroke-dasharray: 10000;
    }
  }
  
.highlighter{
    width: 0;
    height: calc(100% - 4px);
}

a:hover + .rectangle + .highlighter{
    background: rgba(0, 0, 0, 0.4);
    transition: width 1s ease-in-out;
    width: calc(100% - 8px);
    height: calc(100% - 4px);
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 0px;
    margin: 4px 4px 0 4px;
}

/* SUBSECTION - DONE */

nav{
    top: -110vh;
    height: calc(100vh - 3rem);
    position: absolute;
    width: 100%;
    transition: top 1s ease-in-out;
}

nav ul{
    background-color: rgba(71, 26, 138, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top: 3rem;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li{
    width:  100%;
    text-align: center;
    position: relative;
}

nav ul li a{
    font-size: 3rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 100%;
    display: block;
}

/* Name and pancake button */
#top-bar{
    display: flex;
    justify-content: space-between;
    font-size: larger;
    padding: 20px;
    list-style: none;
    font-weight: bold;
    position: absolute;
    background: transparent;
    color: white;
    right: 0;
    left: 0;
}

#pancake-button:hover{
    cursor: pointer;
}

#pancake-menu-button{
    width: 30px;
    padding-right: 5px;
}

#pancake-menu-button:hover{
    cursor: pointer;
}

.css-menu-bar {
    display: block;
    height: 8px;
    width: 100%;
    margin: 2px 0px 0px 0px;
    background: #fff;
    border-radius: 60px;
    position: relative;
    transition: top 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/* Hero Image */

.bg-img{
    z-index: -2;
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.bg-img-gradient{
    z-index: -1;
    position: absolute;
    top: 50vh;
    object-fit: cover;
    width: 100%;
    height: 50vh;
    background-image:  linear-gradient(transparent, var(--background));
}


/* Projects button */
#entry-div{
    /* background:rgba(0, 0, 0, 0.4); */
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.hero-button{
    background: rgba(255, 255, 255, 0.8);
    color: black;
    text-decoration: none;
    text-align: center;
    width: 20%;
    min-width: 200px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 20px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-weight: bold;
    font-size: 1.2rem;
}

.hero-button:hover{
    padding: 25px;
    width: 21%;
    font-size: 1.5rem;
}

/* Projects Section */
#projects-section{
    width: 100%;
}

h1{
    margin-top: 2rem;
}

.project-info-container{
    position: relative;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 75%;
    margin-bottom: 500px;

    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.project-container{
    position: relative;
    width: 100%;
}

.project-container .bg-img{
    position: absolute;
    top: calc(100% + 50px);
    height: 400px;
    width: 100%;
}

.project-container .bg-image-gradients{
    position: absolute;
    top: calc(100% + 50px);
    width: 100%;
    height: 400px;
}

.project-container .bg-image-gradients div:nth-of-type(1){
    position: absolute;
    background-image: linear-gradient(var(--background), transparent);
    height: 200px;
    top: 0;
}

.project-container .bg-image-gradients div:nth-of-type(2){
    position: absolute;
    background-image: linear-gradient(transparent, var(--background));
    height: 200px;
    top: 50%;
}


.project-link{
    grid-column: span 2;
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
}

.project-link a{
    color: white;
    text-decoration: none;
    transition: color 750ms ease-in-out;
    font-weight: bold;
    
    padding: 40px;
}

.project-description{
    grid-area: 2 / 1 / span 1 / span 1;
}

.title-div{
    width: 100%;
    grid-area: 1 / 1 / span 1 / span 2;
}

h2{
    border-radius: 10px 10px 0 0;
    background: rgba(255, 255, 255, 0.05);
    width: calc(100%-20px);
    padding: 20px;
}

.project-image{
    margin-top: 20px;
    height: 100%;
    width: 100%;
    /* max-width: 750px; */
    object-fit: contain;
    border-radius: 20px;
    grid-area: 2 / 2 / span 1 / span 1;
}

@media screen and (max-width: 800px) {
    .project-description{
        grid-area: 2 / 1 / span 1 / span 2;
    }

    .project-image{
        grid-area: 3 / 1 / span 1 / span 2;
    }
  }